In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.shape, test.shape

((45528, 19), (11383, 18))

In [4]:
test.head()

,customer_id,name,age,gender,owns_car,owns_house,no_of_children,net_yearly_income,no_of_days_employed,occupation_type,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,prev_defaults,default_in_last_6months
0,CST_142525,Siva,52,F,Y,N,0.0,232640.53,998.0,Unknown,2.0,0.0,14406.73,26524.40,4,779.0,0,0
1,CST_129215,Scott,48,F,N,N,1.0,284396.79,1338.0,Unknown,3.0,0.0,57479.99,68998.72,70,806.0,0,0
2,CST_138443,Victoria,50,F,N,N,1.0,149419.28,1210.0,Unknown,3.0,0.0,21611.01,25187.80,71,528.0,2,0
3,CST_123812,John McCrank,30,F,N,N,1.0,160437.54,503.0,Laborers,2.0,1.0,28990.76,29179.39,9,815.0,0,0
4,CST_144450,Martinne,52,M,N,Y,0.0,233480.37,157.0,Laborers,2.0,1.0,54213.72,82331.82,82,613.0,1,1

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45528 entries, 0 to 45527
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              45528 non-null  object
 1   name                     45528 non-null  object
 2   age                      45528 non-null  int64
 3   gender                   45528 non-null  object
 4   owns_car                 44981 non-null  object
 5   owns_house               45528 non-null  object
 6   no_of_children           44754 non-null  float64
 7   net_yearly_income        45528 non-null  float64
 8   no_of_days_employed      45065 non-null  float64
 9   occupation_type          45528 non-null  object
 10  total_family_members     45445 non-null  float64
 11  migrant_worker           45441 non-null  float64
 12  yearly_debt_payments     45433 non-null  float64
 13  credit_limit             45528 non-null  float64
 14  credit_limit_used(%)     45528 non-null  int64
 15  credit_score             45520 non-null  float64
 16  prev_defaults            45528 non-null  int64
 17  default_in_last_6months  45528 non-null  int64
 18  credit_card_default      45528 non-null  int64
dtypes: float64(8), int64(5), object(6)
memory usage: 6.6+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11383 entries, 0 to 11382
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              11383 non-null  object
 1   name                     11383 non-null  object
 2   age                      11383 non-null  int64
 3   gender                   11383 non-null  object
 4   owns_car                 11251 non-null  object
 5   owns_house               11383 non-null  object
 6   no_of_children           11193 non-null  float64
 7   net_yearly_income        11383 non-null  float64
 8   no_of_days_employed      11278 non-null  float64
 9   occupation_type          11383 non-null  object
 10  total_family_members     11352 non-null  float64
 11  migrant_worker           11357 non-null  float64
 12  yearly_debt_payments     11361 non-null  float64
 13  credit_limit             11383 non-null  float64
 14  credit_limit_used(%)     11383 non-null  int64
 15  credit_score             11380 non-null  float64
 16  prev_defaults            11383 non-null  int64
 17  default_in_last_6months  11383 non-null  int64
dtypes: float64(8), int64(4), object(6)
memory usage: 1.6+ MB

#### Null value handling

In [7]:
print(train.owns_car.value_counts())
print(train.no_of_children.value_counts())
print(train.total_family_members.value_counts())
print(train.migrant_worker.value_counts())

N    29743
Y    15238
Name: owns_car, dtype: int64
0.0    31241
1.0     8985
2.0     3862
3.0      584
4.0       60
5.0       13
6.0        6
8.0        1
7.0        1
9.0        1
Name: no_of_children, dtype: int64
2.0     23455
1.0      9913
3.0      7812
4.0      3623
5.0       564
6.0        57
7.0        12
8.0         6
10.0        2
9.0         1
Name: total_family_members, dtype: int64
0.0    37302
1.0     8139
Name: migrant_worker, dtype: int64

In [9]:
print(train["owns_car"].mode()[0], test["owns_car"].mode()[0])
print(train["no_of_children"].mode()[0], test["no_of_children"].mode()[0])
print(train["total_family_members"].mode()[0],test["total_family_members"].mode()[0])
print(train["migrant_worker"].mode()[0], test["migrant_worker"].mode()[0])

N N
0.0 0.0
2.0 2.0
0.0 0.0

In [10]:
#replace with mode
train["owns_car"].fillna(train["owns_car"].mode()[0], inplace=True)
test["owns_car"].fillna(test["owns_car"].mode()[0], inplace=True)

train["no_of_children"].fillna(train["no_of_children"].mode()[0], inplace=True)
test["no_of_children"].fillna(test["no_of_children"].mode()[0], inplace=True)

train["total_family_members"].fillna(train["total_family_members"].mode()[0], inplace=True)
test["total_family_members"].fillna(test["total_family_members"].mode()[0], inplace=True)

train["migrant_worker"].fillna(train["migrant_worker"].mode()[0], inplace=True)
test["migrant_worker"].fillna(test["migrant_worker"].mode()[0], inplace=True)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45528 entries, 0 to 45527
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer_id              45528 non-null  object
 1   name                     45528 non-null  object
 2   age                      45528 non-null  int64
 3   gender                   45528 non-null  object
 4   owns_car                 45528 non-null  object
 5   owns_house               45528 non-null  object
 6   no_of_children           45528 non-null  float64
 7   net_yearly_income        45528 non-null  float64
 8   no_of_days_employed      45065 non-null  float64
 9   occupation_type          45528 non-null  object
 10  total_family_members     45528 non-null  float64
 11  migrant_worker           45528 non-null  float64
 12  yearly_debt_payments     45433 non-null  float64
 13  credit_limit             45528 non-null  float64
 14  credit_limit_used(%)     45528 non-null  int64
 15  credit_score             45520 non-null  float64
 16  prev_defaults            45528 non-null  int64
 17  default_in_last_6months  45528 non-null  int64
 18  credit_card_default      45528 non-null  int64
dtypes: float64(8), int64(5), object(6)
memory usage: 6.6+ MB

In [ ]:
sns.boxplot(test.net_yearly_income)

In [ ]:
sns.scatterplot(data=train, x=train.no_of_days_employed, y=train.no_of_days_employed.value_counts())

In [ ]:
fig, axes = plt.subplots(1, 3)

fig.suptitle('detecting outliers in training set with null values')

sns.boxplot(ax=axes[0], data=train.no_of_days_employed)
sns.boxplot(ax=axes[1], data=train.yearly_debt_payments)
sns.boxplot(ax=axes[2], data=train.credit_score)

Since a lot of outliers are present in the dataset, I am not removing them. But I will find the mean of the rest of the data and replace it with the null values

In [ ]:
df = pd.concat([train, test], axis=0)

In [ ]:
sns.boxplot(df.yearly_debt_payments)

In [ ]:
print("Yearly debt payments null value handling")

print("Total null values in yearly debt payments in both train and test: ", df.yearly_debt_payments.isnull().sum())
print("Null value percent: ",(df.yearly_debt_payments.isnull().sum()*100)/len(df.yearly_debt_payments), "%")

print("\nOutliers detection using IQR")

Q1_ydp = df["yearly_debt_payments"].quantile(0.25)
Q3_ydp = df["yearly_debt_payments"].quantile(0.75)

print("First quantile: ",Q1_ydp)
print("3rd quantile: ",Q3_ydp)

IQR_ydp = Q3_ydp - Q1_ydp
print("IQR: ",IQR_ydp)
print("threshold: ", 1.5*IQR_ydp)

ydp_out = df[np.logical_or(df["yearly_debt_payments"] < (Q1_ydp - (1.5 * IQR_ydp)), df["yearly_debt_payments"] > (Q3_ydp + (1.5 * IQR_ydp)))]

print("Percentage of outliers: ", ((ydp_out.shape[0]/(df.shape[0]-df.yearly_debt_payments.isnull().sum()))*100), "%")

ydp_mean_replace = (df.yearly_debt_payments.sum() - ydp_out.yearly_debt_payments.sum()) / (len(df.yearly_debt_payments) - len(ydp_out.yearly_debt_payments))

print("\n")
print("Mean excluding outliers: ",ydp_mean_replace)
print("Mean including outliers: ",df["yearly_debt_payments"].mean())
print("difference: ", df["yearly_debt_payments"].mean()-ydp_mean_replace)

#replace with mean
train["yearly_debt_payments"].fillna(ydp_mean_replace, inplace=True)
test["yearly_debt_payments"].fillna(ydp_mean_replace, inplace=True)

In [ ]:
df.no_of_days_employed.plot(kind="box")

In [ ]:
print("Number of days employed null value handling")

print("Total null values in yearly debt payments in both train and test: ", df.no_of_days_employed.isnull().sum())
print("Null value percent: ",(df.no_of_days_employed.isnull().sum()*100)/len(df.no_of_days_employed), "%")

print("\nOutliers detection using IQR")

Q1_nde = df["no_of_days_employed"].quantile(0.25)
Q3_nde = df["no_of_days_employed"].quantile(0.75)

print("First quantile: ",Q1_nde)
print("3rd quantile: ",Q3_nde)

IQR_nde = Q3_nde - Q1_nde
print("IQR: ",IQR_nde)
print("threshold: ", 1.5*IQR_nde)

nde_out = df[np.logical_or(df["no_of_days_employed"] < (Q1_nde - (1.5 * IQR_nde)), df["no_of_days_employed"] > (Q3_nde + (1.5 * IQR_nde)))]

print("Percentage of outliers: ", ((nde_out.shape[0]/(df.shape[0]-df.no_of_days_employed.isnull().sum()))*100), "%")

nde_mean_replace = (df.no_of_days_employed.sum() - ydp_out.no_of_days_employed.sum()) / (len(df.no_of_days_employed) - len(ydp_out.no_of_days_employed))

print("\n")
print("Mean excluding outliers: ",nde_mean_replace)
print("Mean including outliers: ",df["no_of_days_employed"].mean())
print("difference: ", df["no_of_days_employed"].mean()-nde_mean_replace)

#replace with mean
train["no_of_days_employed"].fillna(nde_mean_replace, inplace=True)
test["no_of_days_employed"].fillna(nde_mean_replace, inplace=True)

In [ ]:
# since no outliers in credit score column  directly replace with mean
train["credit_score"].fillna(df["credit_score"].mean(), inplace=True)
test["credit_score"].fillna(df["credit_score"].mean(), inplace=True)

In [ ]:
test.info()

In [ ]:
#check outliers in age column
sns.boxplot(train["age"])